body{
  font-family: 'Quicksand', sans-serif;
}
*{
  transition: all 0.3s ease-out;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d5d5d5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}